.container {
	margin: auto;
	padding: 0 40px;
	max-width: 1024px;
}

.row {
  display: flex;
}

$columnWidth: 100% / 12;

.column-1 {
  flex-basis: $columnWidth;
}

.column-7 {
  flex-basis: $columnWidth * 7;
}

.column-8 {
  flex-basis: $columnWidth * 8;
}
